<!DOCTYPE html>
<html lang="en"><head>
	<title><%= data.titel%></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<link rel="stylesheet" href="/public/vendor/bootstrap.css">
 	<link rel="stylesheet" href="/public/css/error.css">
	<link rel="shortcut icon" type="image/x-icon" href="/public/images/logo.png" />
 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
	<!-- page for not found and error -->
	<div class="error">
		<div class="content">
			<img src="/public/images/logo.png" width="90px" alt="">
			<h4><%=data.content%><i class="far fa-frown-open"></i></h4>
			<a href="/"><button>Go Back</button></a>
		</div>
	</div>

</body>
</html>




