<!DOCTYPE html>
<html lang="en">
<% include ../layers/header.ejs%>

<link rel="stylesheet" href="/public/css/home.css">
<!-- <body style="width: 100%; height: 100%; " class="home-body"> -->
<body>
	<div class="loading">
		<div class="content">
			<img src="/public/images/logo.png" width="90px" alt="">
			<ul class="list-load">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="home home-black">
		<!-- <i class="fas fa-spinner"></i> -->
		<!-- <i class="fas fa-sun eye-black" id="eye"></i> -->
		<!-- // hieu ung load -->
		<!-- // -->
		<div class="menu">
			<div class="controller">
				<i class="fas fa-bars bars-black" id="bars"></i>
			</div>
			<div class="user">	
				<a id="user">
					<img src="" alt="">
				</a>
				
			</div>
		</div>
		<div id="menu-user-rul"></div>
		<div class="menu-user menu-bar" id="menu-user">
			<ul>
				<a href="" class="item-bar"><li>Your Profile</li></a>
				<a href="" class="item-bar"><li>New Product</li></a>
				<a href="" class="item-bar"><li>Setting</li></a>
				<a href="" class="item-bar"><li id="logout">Logout</li></a>
			</ul>
		</div>
		<div class="toggle-menubar" id="toggle-menubar"></div>
		<div id="menu-bar" class="menu-bar">
			<ul>
				<a href="" class="item-bar">
					<li><i class="fas fa-house-damage"></i>Home</li>
				</a>
				<a href="" class="item-bar">
					<li><i class="fas fa-envelope"></i>Message</li>
				</a>
				<a href="" class="item-bar">
					<li><i class="fas fa-users"></i>Orthers</li>
				</a>
				<a href="" class="item-bar"> 
					<li><i class="fas fa-info-circle"></i>About</li>
				</a>
				<a href="" class="item-bar">
					<li><i class="fas fa-file-contract"></i>Contact</li>
				</a>
			</ul>
		</div>

		<!-- // @end for navbar: logo and user -->

		<div class="container" id="content">
			<!-- // -->
			<div class="row" id="wel">
				<div class="col-md-12 text-xs-center">
					<img class="logo" src="/public/images/logo.png" width="90px" height="90px" alt="Image Logo" style="margin-bottom: 15px;">
					<h4 class="text-xs-center h4-black">So ! You can initialize a new production</h4>
					<a href=""><button>New prooduct</button></a>
					<p class="p-black">Website for who is need a CV, view more <a href="" style="    color: #092242;">click here</a></p>
				</div>
			</div>
			
		</div>
		<!-- // @end for container-->
		<div class="row" id="footer">
			<div class="col-md-12 text-xs-center">
				<p style="color: #000000;">Copyright<i class="fas fa-copyright"></i>2018<span> by rgrsiojon@gmail.com</span></p>
			</div>
		</div>
	</div>


</body>

<script type="text/javascript" src="/public/js/home.js"></script>
</html>




